---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Welcome to Jacaranda Technology Civil Contracting | JT Civil Contracting"
>
  <main>
    <div class="position-relative overflow-hidden hero h-screen">
      <div class="p-lg-5 mx-auto my-5 col-md-9">
        <h1 class="display-2 fw-normal text-light">
          Welcome to <span class="text-secondary">Civil Contracting</span> at <span
            class="text-secondary">Jacaranda Technology</span
          >
        </h1>
        <h3 class="fw-normal text-light mb-3">
          Build Your Dream Home from Anywhere in the World
        </h3>
        <p class="fw-normal mb-3 text-light">
          Reliable, Transparent, and Hassle-Free Construction Services for
          Overseas Clients
        </p>
        <div class="d-flex gap-3 justify-content-start lead fw-normal">
          <a class="btn btn-outline-secondary" href="#featured-3">
            Learn more
          </a>
          <a class="btn btn-secondary" href="#contact"> Get Started Today </a>
        </div>
      </div>
    </div>

    <div class="container px-4 features" id="featured-3">
      <div class="row g-8 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <i data-lucide="dollar-sign" class="text-secondary"></i>
          </div>
          <h3 class="fs-2 text-primary">Affordable Home Construction</h3>
          <p>
            Our civil construction company offers affordable solutions to help
            the diaspora build their dream homes without breaking the bank.
          </p>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3"
          >
            <i data-lucide="git-graph" class="text-primary"></i>
          </div>
          <h3 class="fs-2">Transparent progress tracking</h3>
          <p>
            We’ve vetted contractors committed to quality and customer
            satisfaction, ensuring your project is in good hands.
          </p>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <i data-lucide="hard-hat" class="text-secondary"></i>
          </div>
          <h3 class="fs-2 text-primary">Reliable Contractor Network</h3>
          <p>
            We’ve curated a network of vetted contractors committed to quality
            and customer satisfaction, ensuring your project is in good hands.
          </p>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row row-cols-1 row-cols-md-2 align-items-md-start g-5 py-5">
        <div class="col gap-2">
          <h2 class="fw-bold text-body-emphasis">
            Build your dream home affordably
          </h2>
          <p class="text-body-secondary">
            Discover the easy way to construct your ideal home, no matter where
            you are.
          </p>
          <a href="#contact" class="btn btn-primary">Let's work together</a>
        </div>

        <div class="col">
          <p>
            JT Construction is a new and ambitious residential construction
            company, dedicated to building high-quality homes for the diaspora
            community. Our comprehensive services cover every stage of the
            construction process, from design and planning to building and
            completion.
          </p>
          <p>
            With a fresh perspective and a commitment to excellence, we ensure
            your investment back home is managed with utmost care and
            professionalism.
          </p>
        </div>
      </div>
      <div
        id="services"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 px-0"
      >
        <div class="col">
          <div class="card shadow-none border-0 h-100">
            <img
              class="card-img-top"
              width="100%"
              height="225"
              src="/public/images/team-engineers-reviewing-blueprints-sketch-600nw-2346078961.png"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold text-primary">
                <span class="text-secondary">01</span> Project Design
              </h5>
              <p class="card-text">
                In the Project Design phase, we carefully review the drawings,
                analyze the design details against budgetary and scheduling
                constraints, and manage drawing reviews.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-none border-0 h-100">
            <img
              class="card-img-top"
              width="100%"
              height="225"
              src="/public/images/pexels-life-of-pix-2469.png"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold text-primary">
                <span class="text-secondary">02</span> Construction Management
              </h5>
              <p class="card-text">
                During Construction, we are there, on the site, taking care of
                every material, every installation, every sub-contractor, every
                iteration of change—managing all the while for quality control,
                safety, scheduling, and budget.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-none border-0 h-100">
            <img
              class="card-img-top"
              width="100%"
              height="225"
              src="/public/images/pexels-jakubzerdzicki-27522902.png"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold text-primary">
                <span class="text-secondary">03</span> Project Delivery
              </h5>
              <p class="card-text">
                In the end, we answer only to one authority— the owner who
                entrusted us with their vision and expectations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-5 bg-secondary pleading">
      <div class="container pb-5">
        <h2 class="text-primary fw-bold">
          Your Dream Home Could Be Our Next Project
        </h2>
        <div class="row">
          <div class="col-lg-11">
            <p>
              Every great project starts with a vision, and we're here to bring
              yours to life. As a new but passionate and dedicated team, we are
              excited to embark on this journey with you. While we’re just
              starting, our expertise in civil engineering and local
              construction, combined with our commitment to excellence,
              positions us to deliver outstanding results.
            </p>
            <p>
              We understand the trust you place in choosing a contractor,
              especially when managing a project from afar. Our goal is to turn
              your dream into a reality, with the same care and precision as if
              it were our own. By choosing us, you’re not just hiring a
              contractor – you’re partnering with a team that is deeply invested
              in making your vision come true.
            </p>
            <p>
              Be a part of our story as one of our first clients, and let’s
              create something exceptional together.
            </p>
          </div>
        </div>
        <a href="#contact" class="btn btn-primary"
          >Be part of our success story</a
        >
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .hero {
    background: linear-gradient(
        to right,
        rgba(85, 30, 29, 0.7) 0,
        rgba(85, 30, 29, 0.7) 100%
      ),
      url("/images/Architectural drawing-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 740px;
  }

  .pleading {
    background: linear-gradient(
        to bottom,
        rgba(228, 210, 190, 1) 0%,
        rgba(228, 210, 190, 0.7019999694824218) 100%
      ),
      url("/images/structural-design-process.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card {
    background-color: white;
  }
  .features {
    position: relative;
    top: -150px;
    margin-bottom: -150px;
    .feature {
      &-icon {
        padding: 2.5rem;
        border-radius: 99px;
        color: var(--bs-secondary);
      }
      background-color: white;
      padding: 1rem;
      .row {
        gap: 1rem;
      }

      &:nth-child(even) {
        background-color: var(--bs-primary);
        color: var(--bs-light);
        h3 {
          color: var(--bs-secondary);
        }
      }
    }
  }
</style>
