$primary: #551e19;
$secondary: #e4d2be;
$yiq-text-dark: #551e19;
$enable-rounded: false;

$input-btn-padding-x: 1.75rem;

$border-width: 2px;
$font-family-sans-serif:
  "DM Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

$body-bg: rgba(242, 242, 243, 1);
$yiq-text-light: #e6dcd6;
